html {
    font-family: 'Akshar', sans-serif;
}
 :root {
    --brand-green: #00856F;
}

body {
    margin: 0;
}


 a{
text-decoration: none;
 }

.second-item-container {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.menu-item {
    margin: 0 7px;
}

 .title-a{
color: #FFFFFF;
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 26px;
}

.menu_icon {
    visibility: hidden;
}

div.header-item.second-item-container {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #F7F9F9;
opacity: 0.6;
}

.button-normal {
padding: 10px;
background: transparent;
border-radius: 40px;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
border: #FFFFFF 1px solid;
cursor: pointer;
}

.myHeaderItem:hover {
    display: block;
    background:  #00453A;
    border-radius: 40px;
}

.landing-page {
display: flex;
background-color: #DCE9E2;
height: 678px;
padding-top: 5%;
justify-content: center;
}

.image-block {
padding-right: 215px;
}

div.landing-page-item {
display: flex;
padding-left: 20%;
padding-top: 12%;
flex-direction: column;
}

.heat-text {
color: #00856F;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
padding-bottom: 2%;
}

.title {
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 130%;
color: #212529;
width: 80%;
padding-bottom: 2%;
}

.subtitle {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #495057;
padding-bottom: 2%;
width: 65%;
}
.button-div:hover {
    display: block;
    background:  #00453A;
    border-radius: 40px;
}

.button-div{
    background-color: #00856F;
    display: block;
    width: fit-content;
    border-radius: 40px;
}
.button-primary {
display: block;
justify-content: flex-end;
align-items: center;
padding-right: 5%;
width: 263px;
height: 52px;
left: 123px;
top: 435px;
border-radius: 40px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
border: #FFFFFF 1px solid;
font-style: normal;
font-weight: 700;
font-size: 14px;
}

.viber {
    display: flex;
    position: relative;
    top: -26px;
    right: -23px;
    width: 6%;
    margin: -10px;
}

.bg {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 75%;
    height: 210px;
    left: 15%;
    background: #FFFAF1;
    border: 1px solid #DCE9E2;
    border-radius: 6px;
    }

.bg-item {
display: flex;
flex-direction: column;
align-items: center;
align-self: center;
}

.bg-title {
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 130%;
color: #212529;
}
.bg-heat-text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #00856F;
}

.divider {
display: flex;
align-items: center;
align-self: center;
}

.servicos {
display: flex;
background: #F7F9F9;
Width: 100%;
 height: 1082px;
 justify-content: center;
 flex-direction: column;
}

.servicos-2 {
 display: flex;
flex-direction: column;
align-items: center;
height: 10%;
}

.servicos-6 {
display: flex;
flex-direction: row;
justify-content: center;
padding: 24px;
gap: 16px;
flex-wrap: wrap;
}

.six-items {
display: flex;
flex-direction: column;
justify-content: center;
width: 25%;
height: 100%;
background: #FFFFFF;
border: 1px solid #DCE9E2;
border-radius: 6px;
gap: 10%;
padding-left: 25px;
}

.six-items:hover{
background: #DCE9E2;
cursor: pointer;
padding: 15px;
box-sizing: padding-box;
}

.title-2{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
text-align: center;
color: #212529;
}

.servicos-6:last-child {
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #495057;
}

.title-3{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
color: #212529;
}

.greenellipce {
background-image: url(../images/Ellipse.png);
border-radius: 50%;
background-size: 100%;
}

.sobrenos {
display: flex;
height: 70%;
background: #FFFAF1;
justify-content: space-around;
gap: 10%;
padding: 12%;
}

.sobrenos-item {
display: flex;
flex-direction: column;
justify-content: center;
}

.text {
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #495057;
}

.title-4 {
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
color: #212529;
gap: 7%;
}

.sobre-section{ 
display: flex;
background: #FFFFFF;
justify-content: space-around;
gap: 10%;
padding: 12%;
}

.sobre-section-item {
gap: 7%;
display: flex;
flex-direction: column;
justify-content: center;
}

.helper-text {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #495057;
}

.svg-line {
display: flex;
gap: 10px;
}

footer {
display: flex;
background: #00856F;
height: 268px;
justify-content: space-between;
}

.footer-helper-text {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #FFFAF1;
}

div.footer-item {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 10px;
padding-left: 12%;
padding-top: 5%;
padding-bottom: 12%;
}

.footer-svg {
display: flex;
justify-content: space-between;
gap: 50px;
padding-left: 16%;
padding-top: 8%;
padding-right: 10%;
}



@media  (max-width:768px) {
   .navbar {
    display: flex;
    align-items: center;
    }
   
    .hamb {
        display:flex;

    }
    .hamb-field {
        padding: 10px 20px;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 30px;
        height: 2px;
        margin: 6px auto;
        background-color: #FFFAF1;
        transition: 0.2s;
    }
    .popup {
        position: fixed;
        top: 70px;
        left: -100%;
        background-color:#00856F;
        display: flex;
        transition: 0.3s;
        width: 100%;
        height: 30%;
    }
    .popup.open {
        left: 0;
    }
    .menu > li > a{
        color: red;
    }
}

@media  (max-width:768px) {
    .landing-page    {
        flex-wrap: wrap;
        padding: 67px 0px 222px 10px;
        margin: 0px;
     }
     div.landing-page-item {
        padding-left: 0;
        padding-left: 25px;
        }
 .button-primary {
    padding-right: 5%;
    width: 100%;
    height: 52px;
 }
 .viber {
    right: -15px;
 }
 .image-block {
    width: 222.64px;
 }
 .bg {
     display: flex;
     position: relative;
     flex-direction: column;
     width: 70%;
     height: 50%;
 }

 .six-items {
    width: 92%;
    height: 20%;
    padding-top: 10px;
 }
 .title {
        font-size: 32px;
     }
     .subtitle {
        font-size: 18px;
     }
     .divider {
         display: none;
     }
     .title-2 {
        font-size: 30px;
     }
 }

 @media  (max-width:768px) {
    .sobrenos {
     display: flex;
     flex-wrap: wrap;
     }
     .sobrenos-picture {
        padding-top: 222px;
     }
    .sobre-section {
        display: flex;
     flex-wrap: wrap;
     gap: 20px;
    }
    .sobre-section-item {
        gap: 20px;
    }
   
    .button-primary {
        padding-right: 5%;
        width: 100%;
        height: 52px;
    }
    .viber {
        right: -33px;
 }
 .image-card {
     width: 95%;
 }
}

@media (max-width:768px){
    footer {
        flex-direction: column;
        margin-top: -55px;
        justify-content: space-around;
}    
.footer-svg {
    padding-bottom: 16%;
    justify-content: flex-start;
}   
    }





    .navbar {
z-index: 1;
background-color: var(--brand-green);
display: flex;
align-items: center;
height: 72px;
position: fixed;
top: 0;
left: 0;
min-height: 70px;
  width: 100%;
    }

.container {
    width: 100%;
    display: flex;
}

    .navbar-wrap {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 20%;
    }
    
    .menu > li > a{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #F7F9F9;
        
        opacity: 0.6;
    }

    .menu > li {
        list-style-type: none;
    }

    .navbar-wrap .menu {
        display: flex;
    }

    .navbar-wrap .menu >li {
        display: flex;
        align-items: stretch;
    }
    
.header-item{
    display: flex;
    align-items: center;
}

.navbar {
    position: fixed; 
  top: 0;
  width: 100%; 
  transition: top 0.3s;
color: #000;
}